<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="img/weather_icon.png"
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="img/weather_1.jpg" />
      <p>
        This is a weather forecast website. It uses data from mapbox.com and
        weatherstack.com!!
      </p>
    </div>
    {{>footer}}
  </body>
</html>
